nav ul{
    display: flex;
    min-width: 900px;
    background-color: red;
}


li{
    text-align: center;
    padding: 20px;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background-color: blue;
}