*{
    margin: 0;
    padding: 0;
}


header{
    text-align: center;
}

header{
    color: blue;
    background-color: lightblue;
}

h1{
    font-size: 50px;
    margin-top: 0px;
    padding: 20px;
}

header nav{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

ul{
    list-style: none;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 60%;
}

aside{
    flex: 1;
    flex-shrink: 1;
}

section{
    flex: 4;
    margin: 0 20px;
}